.status {
  background-color: #DCDCDC;
}

.card {
  background-color: #ffffff !important;
}

.comment-body {
  border-radius: none !important;
  border: 0.5px solid #DCDCDC;
  padding: 5px;
}

.float-left{
  float: left;
  clear: both;
}